body {
    margin: 0;
    background: silver;
    text-align: center;
}

/* main {
    background : whitesmoke;
}  */

header {
    background: grey;
}

footer {
    background: rgb(126, 126, 126);
    color: antiquewhite;
}