body {
    margin: 0;
    background: silver;
    text-align: center;
}

/* main {
    background : whitesmoke;
}  */

header {
    background: grey;
}

footer {
    background: rgb(49, 49, 49);
    color: antiquewhite;
}